@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    font-family: 'Comfortaa', cursive;
}

body,
html {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-image: url('./wallpaper.jpg');
    color: #98caff;
    padding: 0;
}

.app {
    padding: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.1);
    padding: 10px 20px;
}

#tasksGraph {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 10px;
    margin: 20px;
}

.chart-container {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 10px;
    margin: 20px;
    width: 450px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 22px;
}

.svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 8px;
    font: 12px sans-serif;
    background: lightsteelblue;
    color: black;
    border: 1px solid #ddd;
    border-radius: 8px;
    pointer-events: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.title {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: #F0F8FF;
    font-weight: 200 !important;
}

.welcome {
    font-size: 18px;
    float: left;
    padding: 8px;
}

.userInfo {
    height: 480px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 10px;
    margin: 20px;
}

.userInfoHeader {
    text-align: center;
    margin-bottom: 5px;
    font-size: 22px;
}

.infoDiv,
.progressionDiv {
    display: block;
    margin-top: 15px;
    font-size: 16px;
    font-weight: 500;
}

.userData,
.xp,
.level,
.audit {
    padding: 10px;
    margin-bottom: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}



#loginDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#loginForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

#loginForm input[type="text"],
#loginForm input[type="password"] {
    padding: 10px;
    width: 250px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

#loginForm button[type="submit"] {
    padding: 10px 15px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#loginForm button[type="submit"]:hover {
    background-color: #0056b3;
    transition: 0.6s ease-in-out;
}

.notification,
.error-notification {
    position: fixed;
    top: -100px;
    right: 10px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: top 0.5s ease, opacity 0.5s ease;
    z-index: 1000;
    max-width: 300px;
    word-wrap: break-word;
    font-size: 0.9rem;
    opacity: 0;
}

.notification {
    background-color: #afdaff;
    color: #191970;
}

.error-notification {
    background-color: #FFC0CB;
    color: #8B008B;
}

.notification.show,
.error-notification.show {
    top: 10px;
    opacity: 1;
}

.notification.hide,
.error-notification.hide {
    top: -100px;
    opacity: 0;
}

rect {
    fill: #ffa4d9;
    stroke: #fff;
    stroke-width: 1px;
}

rect:hover {
    fill: #ff7dc9;
}

.chartLabel {
    fill: #98caff;
    font-size: 1.2em;
    font-weight: bold;
    text-anchor: middle;
    opacity: 0;
    transition: opacity 0.5s ease;
}